/*#oogkas-links-schaduw, #voorhoofd-snor-schaduw, #neus-schaduw, #kin-schaduw, #oogkas-rechts-schaduw, #voorhoofdschaduw, #snor-schaduw {
    opacity: 0;
}

#oogkas-links-schaduw:hover, #voorhoofd-snor-schaduw:hover, #neus-schaduw:hover, #kin-schaduw:hover, #oogkas-rechts-schaduw:hover, #voorhoofdschaduw:hover, #snor-schaduw:hover{
    opacity: 1;
}

*/
/* filter: invert(100%) */

.kleur{
  filter: invert(1);
  animation: invert 1s ease-in-out;
}

@keyframes invert{
0%{
  filter: invert(0);
}
100%{
  filter: invert(1);
}


}

#neus-schaduw, #voorhoofd-snor-schaduw, #voorhoofdschaduw, #kin-schaduw, #oogkas-links-schaduw, #oogkas-rechts-schaduw, #snor-schaduw{
    opacity: 1;

}

#neus-schaduw:hover, #voorhoofd-snor-schaduw:hover, #voorhoofdschaduw:hover, #kin-schaduw:hover, #oogkas-links-schaduw:hover, #oogkas-rechts-schaduw:hover, #snor-schaduw:hover{
    opacity: 0
    ;
    
}


#oog-spul{
    opacity: 0;
}


.background-rotate {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform-origin:center;
    transform: rotateY(180deg);
  }


#oog-rechts > g > g:nth-last-of-type(1),
#oog-links_1_ > g > g:nth-last-of-type(1)
{
  left: 20px;
  transform: translate(65px,0px);
  /* style="transform: translate(64px,0px);" */
}

.beweeg{ 
  animation: pulse 1s ease-in forwards;
      }
      
      @keyframes pulse {
        0% {
          transform: translate(65px,0px);
}
        
        100% {
          transform: translate(0px,0px);
        }
      }



